#filter-buttons-wrapper{
    position: relative;
    float: right;
    right: 5%;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}
#sort-button{
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    color: white;
    background-color: #215184;
}
#sort-button > img{
    width: 10%;
}