header{
    position: relative;
    left: 2em;
    top: 2em;
    width: 98%;
    height: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#header-logo-container{
    width: 15em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    justify-content: space-between;
}
#header-logo-container span {
    bottom: 0;
    position: relative;
    margin-left: -5%;
}
#header-logo-container img{
    height: 1.3em;
}