#launch-list-wrapper{
    position: absolute;
    width: 50%;
    height: 83%;
    margin: 0;
    overflow: scroll;
    position: absolute;
    right: 3em;
    top: 11em;
    scroll-snap-type: y proximity;
}
#launch-list-wrapper::-webkit-scrollbar{
    display: none;
}
#launch-list-wrapper ul{
    height: 100%;
}
#launch-list-wrapper ul li{
    width: 90%;
    height: 4.5em;
    margin: 1% 0 0 1%;
    padding: 0 1.5em 0 1.5em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 10% 50% 40%;
    scroll-snap-align: start;
}
.flight-number{
    font-size: 2em;
}
.mission-name{
    font-size: 1.5em;
}
#launch-list-wrapper > ul > li > div{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.launch-date{
    font-size: small;
}
.rocket-name{
    font-size: large;
}


